header {
    text-align: left;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}


nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    padding: 5px 10px;
    transition: color 0.3s, background-color 0.3s;
}

nav ul li a:hover {
    color: white;
    background-color: #21154d;
    border-radius: 5px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


  /* Center the heading */
.header-container h1 {
    font-size: 24px;
    margin: 0;
    text-align: center;
}

.image-container img {
    width: 100px;
    border-radius: 10px;
    display:block;
}

.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
}