header {
    text-align: left;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.button-link {
    display: static; /* Make the link behave like a button */
    padding: 20px 40px;
    right: 20px;
    top:50%;
    font-size: 18px;
    background-color: #21154d; /* Green background */
    color: rgb(255, 255, 255);
    text-align: right; /* Center the text */
    border: none;
    border-radius: 5px;
    text-decoration: none; /* Remove underline from link */
    cursor: pointer;
}


nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    padding: 5px 10px;
    transition: color 0.3s, background-color 0.3s;
}

nav ul li a:hover {
    color: white;
    background-color: #21154d;
    border-radius: 5px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


  /* Center the heading */
.header-container h1 {
    font-size: 24px;
    margin: 0;
    text-align: center;
}