/* General styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    background-color: #f9f9f9;
    color: #333;
}
  
  /* Header styling */
header {
    text-align: center;
    background-color: #d55d31;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}
  
  /* Image styling */
img {
    display: block;
    margin: 20px auto;
    max-width: 15%;
    height: auto;
    border-radius: 10px;
    border: 2px solid #ddd;
}

.image-container {
    display: flex;
    gap: 10px; /* Space between images */
}
  .image-container img {
    width: 200px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
}
  /* Section styling */
section {
    margin: 20px 0;
}
  
h2 {
    color: #ff8c00;
    border-bottom: 2px solid #ffcc80;
    padding-bottom: 5px;
}
  
ul, ol {
    margin: 10px 0 10px 20px;
}
  
  /* Footer styling */
footer {
    text-align: center;
    margin-top: 20px;
    font-size: 1.2em;
    color: #c32b2b;
}
.button-link {
    display: inline-block; /* Make the link behave like a button */
    padding: 20px 20px;
    right: 20px;
    top:50%;
    font-size: 18px;
    background-color: #4CAF50; /* Green background */
    color: rgb(237, 26, 26);
    text-align: center; /* Center the text */
    border: none;
    border-radius: 5px;
    text-decoration: none; /* Remove underline from link */
    cursor: pointer;
}